@font-face {
font-family: 'Roboto';
src: url("{{ URL::asset('fonts/Roboto-Regular.ttf') }}");
}

html
{
  height:100%;
  width: 100%;
}
body
{
  margin:0px;
  padding:0px;
  background:#fafafa;
  font-family:'Roboto ', helvetica;
}
.side-nav::-webkit-scrollbar-track
{
	border-radius: 0px;

}

.side-nav::-webkit-scrollbar
{
	width: 5px;

}

.side-nav::-webkit-scrollbar-thumb
{
	background-color:rgb(0, 121, 136);
}

 .wrapper
{
  position: relative;
  top:10px;
  left:0px;
  width:100%;
}
.side-nav
{
    height: 100%;
    width: 22%;
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    float:left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.section
{
  height: 100%;
  width: 76%;
  position: fixed;
  left: 22%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  float:right;
  margin:0 1%;
}
.side-nav-header
{
  width:100%;
  background-color:rgb(0, 121, 136);
  text-align:center;
  padding:5px 0;
}
.side-nav-header span
{
  font-family: 'Roboto';
  font-size:15px;
  color:white;
  background-color:rgb(0, 121, 136);
}
.profile-bubble
{
  text-align:center;
  padding-top:15px;
}
.photo-round
{
  border-radius:100%;
  height:100px;
  width:100px;
  background-color:#ddd;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.profile-bubble span
{
  color:rgb(0, 121, 136);
  font-size:18px;
}

.nav-buttons a:link
{
  color:rgb(0, 121, 136);
  text-decoration:none;
}
 .nav-buttons a:active
{
  color:rgb(0, 121, 136);

  text-decoration:none;
}
 .nav-buttons a:visited
 {
   color:rgb(0, 121, 136);
   text-decoration:none;
 }
.nav-link:hover
{
  background:#fafafa;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 1px 3px rgba(0,0,0,0.12);
}
.nav-link
{
  width:inherit;
  background:white;
  text-align:center;
  margin:0px auto;
  cursor: pointer;
  transition: all 0.1s linear;
  color:rgb(0, 121, 136);
  padding:15px;
  font-weight:bold;
  margin:5px;
  border: 1px solid #ddd;
}
.tables-menu
{
  width:100%;
  height:100px;
  text-align:center;
}
.tables-menu div
{
  display:inline-block;
}
.table-list
{
  text-align:center;
  width:27%;
  background:red;
}
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom:0px;
    border:none;
}
.table-wrapper
{

  margin:auto;
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-x: auto;
  width:98%;
}
table.table
{
  background:white;
  border-collapse:collapse;
  font-size:14px;
  border: 1px solid #ddd;
  width:100%;

}
.table th
{
  border-top: 1px solid #ddd;
  background: #eee;
  padding:1.5% 1%;
}
.table td
{
  border-top: 1px solid #ddd;
  padding:1.5% 1%;
}
.table-title
{

  font-weight:bold;
  font-size:25px;
  padding:10px;
  width:290px;
}
.table-head div
{
  display:inline;
}
.table-head
{
  margin-left:10px;
  margin-top:25px;
  margin-bottom:25px;
}
.search-bar
{
  float:right;
}
.button-add
{
  font-weight:bold;
  position:relative;
  top:-4px;
}
.button
{
  margin:2px;
  padding:10px;
  border-radius:5px;
  box-shadow: unset;
  color:white;
  background-color:rgba(0, 121, 136, 1);
  border: none;
  cursor: pointer;
}
.button-red
{
  background:#e74c3c;
}
.button-blue
{
  background:#2980b9;
}
.pagination
{
  margin-top:40px;
}
ul.pagination
{

  padding:0;
  list-style-type:none;
}
ul.pagination li
{
  display:inline;
  background:white;
  border-collapse: collapse;
  margin-left:-5px;
  border:1px solid #ccc;
}
.pagination li a
{

  padding: 10px 12.5px;
}
.pagination li
{
  padding: 10px 0;
}
.pagination li span
{
  padding: 10px 12.5px;
}
.pagination li.active
{
  background:#ccc;
  padding:inherit;
  padding: 10px 0px;
  color:;

}
li.active
{
  background:#ddd;
}
.pagination
{
  text-align:center;
}
.button-add
{

}
.pagination a:link
{
  text-decoration: none;
  color:#6c6c6c;
}
.pagination a:visited
{
  text-decoration:none;
  color:#6c6c6c;
}
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width:40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
  position: relative;
    top:5px;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 121, 136, 1);
    color: white;
}
/* Input Styles */
.form-group-modal input[type=text], .form-group-modal input[type=number], .form-group-modal input[type=password]
{
  padding:7.5px;
  border:1px solid darkgray;
  border-radius:5px;
  font-size:15px;
  width: 95%;
}
.form-group-modal input[type=text]:focus, .form-group-modal input[type=number]:focus, .form-group-modal input[type=password]:focus
{
  border:1px solid rgba(0, 121, 136, 1);
  box-shadow: 0px 0px 5px rgba(0, 121, 136, 1);

  outline:none;
  transition: 0.3s;
}

.form-group-modal input[type=date]
{
  padding:7.5px;

}
.form-group-modal .form-label
{
  text-transform: capitalize;
  font-size:14px;
}
.modal-content div.form-group-modal
{
  display:inline-block;
  margin:10px 2%;
  width:45%;
}
#add-user-btn:hover, #add-user-btn:active
{
  cursor:pointer;
}
/* alert */
.alert {
    padding: 20px;
    background-color: rgb(17, 17, 17);
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.danger {background-color: #f44336;}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
