html
{
  height:100%;
}
body
{
  margin:0;
  padding:0px;
  background: #fafafa ;
  font-family:helvetica;
}

.side-nav
{
    height: 100%;
    width: 25%;
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    float:left;

      box-shadow: 2px 0px 4px -2px black;
}

.section
{
  height: 100%;
  width: 75%;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  float:right;

}

.logo-sign
{
  height:10%;
  width: 25%;
  background-color: rgba(255, 255, 255, 1);
  z-index:1;
  border-bottom: 1px solid #ddd;
  float:left;

}
.logo-sign img
{
  height:60px;
}
.leftside-content
{
  margin-top:80px;
}
.profile-bubble
{
  color:rgb(0, 121, 136);
}
.photo-round
{
  border-radius:100%;
  height:150px;
  width:150px;
  background-color:#ddd;
}
.photo-round:hover
{
  box-shadow: 0 0px 10px 0 gray;
  transition: all 0.5s ease;
}
.profileBubble
{

}
.side-footer
{
  background:rgb(0, 121, 136);
  position:absolute;
  bottom:0;
  width:100%;
}
/*
.sideMenu i
{
  text-align:center;
  width:46px;
  padding:15px 0;
  background-color: rgb(0, 121, 136);
  color:#fafafa;

}
.sideMenu a
{
  display:inline;
  padding:0px;
  margin:0px;
  font-family:calibri;
  text-align:left;
  font-weight: bold;
  font-size:16px;
  color:#007A89;
  text-decoration: none;
}

.sideMenu i:hover
{
}
*/
#userStats
{

  display:inline;

}
#userStats a
{
  width:100px;
  padding:10px;
  background-color:#007A89;
  display:inline;
}
.nav-link a:link
{
  color:rgb(0, 121, 136);
  text-decoration:none;
}
 .nav-link a:active
{
  color:rgb(0, 121, 136);
  background-color:rgb(0, 121, 136);
  text-decoration:none;
}
 .nav-link a:visited
 {
   color:rgb(0, 121, 136);
   text-decoration:none;
 }
.nav-link a:hover
{
  color:white;
}
.nav-link-logout a:link
{
  color:#E53935;
  text-decoration:none;
}
 .nav-link-logout a:active
{
  color:#E53935;
  background-color:#E53935;
  text-decoration:none;
}
 .nav-link-logout a:visited
 {
   color:#E53935;
   text-decoration:none;
 }
 .nav-link-logout a:hover
 {
   color:white;
 }
.ratingStat i
{
  color: #FFCA28;
}
#nav-button a
{
  display:block;
  width:100%;
  padding:15px 0;
}
.nav-icon
{
  padding:16px 5px;
  background:rgb(0, 121, 136);
  margin:0;
}
.nav-link-active
{
  background:rgb(0, 121, 136);
}
.nav-link
{
  margin:10px 14px;
  width:90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-left: 5px solid rgb(0, 121, 136);
  font-weight:bold;
  background: linear-gradient(to right, rgb(0, 121, 136) 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.5s ease;
  text-align:center;
}
.nav-link-logout
{
  background: linear-gradient(to right, #E53935 50%, white 50%);
  border-left: 5px solid #E53935;
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.5s ease;
  margin:10px 14px;
  width:90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight:bold;
  text-align:center;
  color: #E53935;
}
.nav-link-logout:hover
{
  color:black;
  background-position:left bottom;
}
.nav-link:hover
{
  background-position:left bottom;
  color:white;
}
.nav-title
{
  padding:15px 10px;
}
